
<div class="container">
 <div class="row">
    <div class="col-2">
      <%= form_tag "", method: "get" do %>
        <%= select_tag "filter", "<option>Title</option><option>Author</option>".html_safe ,:style => "width:90px" %>
        <%= submit_tag " Sort " %>
      <% end %>
       </div>
      <%= form_tag "", method: "get"  do %>
    <div class="col">

 <%= text_field_tag(:search, nil, placeholder:"search...")%>
 <%= submit_tag "Search" %>
 <%end%>
 </div>
  </div>
   </div> 
<br>

<table class="table table-border table-hover"style="width:100%">
 <thead class="p-3 mb-2 bg-info text-white">
  <tr>
    <th scope="col">Title </th>
    <th scope="col" >Author</th> 
    <th scope="col">Review</th>
    <th scope="col">Status</th>
    <th scope="col"> Link </th>
     <th scope="col"> Checkout </th>
  </tr>
   </thead>
  
  <%@books.each do |book|%>
  <tr>
  
    <td scope="row"><%=book.title%></td>
    <td><%=book.author%></td> 
  
    <td class = "review-container<%=book.id%>">
      <% if !book.reviews.empty? %>
        <%=book.reviews[-1].comments%><br> <a class= "review" href ="#"data-id="<%= book.id %>">See all reviews </a> 
      <% else %>
      <%=link_to "Please review this book", new_book_review_path(book) %>
        <%end%>
    </td> 
    <td><%=book.reviews[-1].status if !book.reviews.empty?%></td> 

    <td><button class="btn btn-light"><%= link_to "Click here for more info", book_path(book)%></button></td>
    <div class = "taken out"> </div>
    <% if !current_user.checked_out_books.include?(book) %>
    <td class = "status<%=book.id%>" ><button class="check"  data-id="<%= book.id %>">Check out</button></td>
    <%else%>
    <td><p class="success-message"> Book checked out </p> </td>
    <%end%>
    <%end%>
  </tr>
  </table>
<br>

  





 
