
<h3> Book Info:</h3>
Title: <%=@book.title %> <br> <br> 
Author: <%=@book.author%> <br> <br>
Comments:
<select>
 
<%@book.reviews.each do |review|%>
  <option> <%=review.comments%></option>
  <%end%>
</select><br>
<br>
<button type="button"> <%=link_to "Review this book",  new_book_review_path(@book) %></button> <br><br>

<%if !!current_user.books.include?(@book) || current_user.admin %>

<p><button type="button"> <%=link_to "Edit this book",  edit_book_path(@book) %></button> <p>
<%end%>

<%if current_user.admin%>

<p><button type="button"><%= link_to 'Delete', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %> </button> <p>
<%end%>