<h2>Books taken out:</h2> 
<table class="table table-bordered table-dark table-hover">
  <thead>
    <tr>
    
      <th scope="col">Book</th>
      <th scope="col">Checked out:</th>
      <th scope="col">Due date:</th>
    </tr>
  </thead>
  <tbody>
  
<%@checkouts.each do |checkout|%>
    <tr>
  
      <td scope="row" ><%=checkout.book.title%> </td>
      <td><%= time (checkout.created_at) %> <%=checkout.id%> </td>
      <td><%= time (checkout.due_date)%> 21 Day loan </td>
     <td class ="status<%=checkout.id%>"><button class="checkin" data-id="<%= checkout.id %>">Check in Book</button></td>
      <%end%>
    </tr>
   
     
      
  </tbody>
</table>
<script>
//delete request
$(document).ready(function checkout () {
   console.log("j.checkin has loaded")
  $(".checkin").on("click", function (event) {
   event.preventDefault()
   console.log("loaed check lets hit pry")
     let id = $(this).data("id");
    
    $.ajax({
      url:  `/checkouts/${id}`,
      type: 'DELETE',
      dataType: 'json',
      success:
      () => {
          this.remove()
          console.log("smile 13")
           $(`.status${id}`).html( '<p class="success-message">Thank you for checking in your book</p>')
         }
    //play with data
    })
  });
 })
</script>
