<h2>Books taken out:</h2> 
<table class="table table-bordered table-dark table-hover">
  <thead>
    <tr>
    
      <th scope="col">Book</th>
      <th scope="col">Checked out:</th>
      <th scope="col">Due date:</th>
    </tr>
  </thead>
  <tbody>
  
<%@checkouts.each do |checkout|%>
    <tr>
  
      <td scope="row" ><%=checkout.book.title%> </td>
      <td><%= time (checkout.created_at) %> <%=checkout.id%> </td>
      <td><%= time (checkout.due_date)%> 21 Day loan </td>
     <td class ="status<%=checkout.id%>"><button class="checkin" data-id="<%= checkout.id %>">Check in Book</button></td>
      <%end%>
    </tr>
   
     
      
  </tbody>
</table>

