<h2>Please review the books thank you</h2>
<p><%= form_for @review do |f| %>
<%if !@book %>
  <%= f.label "Choose a book " %><br>
  <%= f.collection_select :book_id, Book.all, :id, :title %> <br><br>
<% else %>
  <p>Title: <%=f.label @book.title%></p>
  <%=f.hidden_field  :book_id,  value: @book.id%>
<%end%>
  <%= f.label "Comments" %><br>
  <%= f.text_area :comments, :cols => 20, :rows => 6  %><br>
  <%= f.label "Status" %><br>
  <%= f.select :status, ['OK', 'NO', 'MAYBE'],:style => "width:50px"%><br><br>
  

  
 

 
  <%= f.submit %>
<% end %><p>