<ul>
<%if current_user%>
<li><%=link_to "Home", root_path %></li>
<li><%=link_to "Reviews", new_review_path%></li>
<li><%=link_to "Books", books_path %></li>
<li><%=link_to "Checkout", new_checkout_path %></li>
<li><%=link_to "My Checkout Books", checkouts_path %></li>
<li><%=link_to "Log out", destroy_user_session_path, method: :delete %></li>

<%if current_user.admin%>
<li><%=link_to "All Reviews", reviews_path %></li>
<li><%=link_to "All Checkouts", checkouts_path %></li>
<li><%=current_user.username%></li>
<%end%>

<%else%>

<li><%=link_to "Sign up", new_user_registration_path%></li>
<li><%=link_to "Log in",  new_user_session_path%></li>
<li><%=link_to "Log in with facebook", user_facebook_omniauth_authorize_path  %></li>
<%end%>
</ul>
