<!DOCTYPE html>
<html>
  <head>
    <title>Childrens Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <%=render 'layouts/navbar'%>
 
    <div class="container-fluid">
   

    <%= yield %>
   
     <%=render 'layouts/alerts'%>
  <footer class="branding">
        <small>&copy; 2019 <strong>Childrens Library</strong></small>
      </footer>
      </div>
  </body>
</html>
